* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
  list-style: none;
}

body {
  background: white;
}

.grid-container-topo img {
  width: 150px;
  height: 100px;
}

.grid-container-topo h2 {
  font-size: 22px;
  font-weight: bold;
}

.grid-container-topo .grid-item-topo p {
  font-size: 18px;
  font-weight: bold;
}

.grid-container-topo {
  display: grid;
  padding-left: 160px;
  padding-top: 80px;
  padding-right: 160px;
  grid-column-gap: 10px;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
}

.grid-item-topo {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px;
  font-size: 18px;
  text-align: center;
}

/*Datas css*/

.datas {
  display: grid;
  grid-column-gap: 630px;
  grid-template-columns: auto auto;
  padding: 10px;
  padding-top: 30px;
  justify-content: center;
}

.datas .datas-detalhes p {
  padding-top: 12px;
  font-size: 16px;
  line-height: 1.5;
}

/* fim datas*/

/*Requisitante css*/

.grid-container-meio-tabela{
    display: grid;
    padding-left: 198px;
    padding-top: 10px;
    padding-right: 230px;
    grid-column-gap: 2px;
}


.requisitante {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: auto auto;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.requisitante-topo {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto;
  padding: 10px;
  padding-left: 10px;
  padding-right: 20px;
}

.requisitante2 {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: auto auto auto;
  padding-left: 50px;
  padding-right: 50px;
}
/*Check box*/


.page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  text-align: center;
}

.page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
  display: flex;
  align-items: center;
  text-align: center;
}



.organizacao {
  display: flex;
  padding-top: 10px;
  padding-left: 200px;
  padding-right: 230px;
}

span {
  font-weight: bold;
}
.gg {
  width: 80px;
}

.obs{
  width: 254px;  
}

.ggg {
  width: 524px;
}

.grid-container {
  display: grid;
  padding-left: 160px;
  padding-top: 50px;
  padding-bottom: 80px;
  padding-right: 160px;
  grid-column-gap: 2px;
  grid-template-columns: auto auto auto auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px;
  font-size: 18px;
  text-align: center;
}

@media print {
  body,
  .page {
    margin: 0;
    box-shadow: 0;
  }
}
