* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
    list-style: none;
}

body {
    background: white; 
}


.page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    text-align: center;
}

.page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
    display: flex;
    align-items: center;
    text-align: center;
}
  
@media print {
  body, .page {
    margin: 0;
    box-shadow: 0;
   }
}
/*A4 ACIMA*/

.info-inicial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 178px;
    padding-right: 178px;
    gap: 20px;
    margin-top: 128px;
}

.footer-saida {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 178px;
    padding-right: 178px;
    padding-top: 30px;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info p{
  padding-top: 10px;  
}
    
.organizacao {
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

span {
    font-weight: bold;
}
.gg {
    width: 80px;
    background-color: lavenderblush;
}
.ggg {
    width: 524px;
    background-color: lavenderblush;
}


/*Pagina A4 Propriedades

*/