.page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  text-align: center;
}

.page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
  display: flex;
  align-items: center;
  text-align: center;
}



/*Tabela*/

.organizacao {
  display: flex;
  padding-top: 20px;
  padding-left: 270px;
  padding-right: 260px;
}

/*Parte final */
.info-final {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  padding-left: 290px;
  padding-right: 12px;
}

.info-final .descricao .titulo h1 {
  font-size: 22px;
}
.info-final .descricao h3 {
  font-size: 14px;
}

span {
  font-weight: bold;
}
.gg {
  width: 90px;
  background-color:ghostwhite;
}
.ggg {
  width: 324px;
  background-color:ghostwhite;
}

.grid-container {
    display: grid;
    grid-column-gap: 70px;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}
  
.grid-container .grid-item p{
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-left: 8px;
}

@media print {
  body,
  .page {
    margin: 0;
    box-shadow: 0;
  }
  .organizacao {
    padding-left: 30px;
    padding-right: 30px;
  }
}

