body {
    background: white;
}

.page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    text-align: center;
}

.page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
    display: flex;
    align-items: center;
    text-align: center;
}
  
@media print {
  body, .page {
    margin: 0;
    box-shadow: 0;
   }
}

.intro-topo {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: red;    
}

.logo-topo {
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

.info-topo {
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

.organizacao {
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

span {
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto;
    background-color: #2196F3; 
  }
  
.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}